.title_stats{
    font-size: 32px;
    font-weight: 700;
    margin: 24px auto 16px;
    max-width: 1180px;
}
.title_info{
    font-size: 32px;
    font-weight: 700;
    margin: 10px auto 16px;
    max-width: 1180px;
}